<div class="row">
    <div class="col-lg-6 col-md-10 col-sm-12 offset-lg-3">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <h5 class=" card-title text-center">{{this.titleAuth}}</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-6 ml-auto">
                            <div class="info-horizontal info_overize">
                                <div class="icon icon-rose">
                                    <i class="material-icons">timeline</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Marketing</h4>
                                    <p class="description">
                                        We've created the marketing campaign of the website. It was a very interesting collaboration.
                                    </p>
                                </div>
                            </div>
                            <div class="info-horizontal info_overize">
                                <div class="icon icon-primary">
                                    <i class="material-icons">code</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Fully Coded in HTML5</h4>
                                    <p class="description">
                                        We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                                    </p>
                                </div>
                            </div>

                            <div class="info-horizontal info_overize">
                                <div class="icon icon-info">
                                    <i class="material-icons">group</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Built Audience</h4>
                                    <p class="description">
                                        There is also a Fully Customizable CMS Admin Dashboard for this product.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 ml-auto">
                            <div class="social text-center">
                                <button class="btn btn-just-icon btn-round btn-github" style="background: #333">
                                    <i class="fa fa-github"></i>
                                </button>
                                <button class="btn btn-just-icon btn-round btn-danger">
                                    <i class="fa fa-google"></i>
                                </button>
                                <h4> or be classical </h4>
                            </div>

                            <form class="form" method="" action="">
                                <div class="card-body">
                                    <div class="form-group" v-if="this.titleAuth==this.register">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <input v-model="register_user.username" type="text" class="form-control" placeholder="User Name...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <input v-model="register_user.mail" type="email" class="form-control" placeholder="Example@gmail.com">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                              <span class="input-group-addon">
                                                  <i class="material-icons">lock_outline</i>
                                              </span>
                                            <input v-model="register_user.password" type="password" placeholder="Password..." class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group" v-if="this.titleAuth==this.register">
                                        <div class="input-group">
                                              <span class="input-group-addon">
                                                  <i class="material-icons">lock_outline</i>
                                              </span>
                                            <input v-model="register_user.comfirmpassword" type="password" placeholder="Comfirm Password..." class="form-control" />
                                        </div>
                                    </div>

                                    <p v-if="this.titleAuth !=this.register" style="color: #e9433f;cursor: pointer">Forgot Password?</p>
                                </div>
                                <button type="button" class="btn btn-primary btn-round pull-left" @click="isSignin">{{this.login}}</button>
                                <button type="button" class="btn btn-primary btn-round pull-right" @click="isSignup">{{this.register}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>